 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Salvo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="salvoApp" v-bind:style=" { height: currentHeight } ">
        <div class="navbar bg-dark navbar-dark">
            <div class="justyfy-content-start">
                <div>
                    <button class="btn btn-default" v-on:click="returnHome()"> Return </button>
                </div>
            </div>
            <div class="justify-content-center">
                    <h4 style="color: white"> {{ player.user }}! </h4>
            </div>
            <div class="justify-content-end">
                    <button class="btn" v-on:click="logout()"> Logout </button>
            </div>
        </div>
        <center>
            <h2>Match</h2>
            <p> {{ player && player.user ? player.user : "" }} vs {{ enemy && enemy.user ? enemy.user : ""}} </p>
        </center>
        <div class="row">
            <div class="col-md-5">
                <center>
                    <h4> My Ships!</h4>
                    <table style="background: url('./img/BackGround.gif')" draggable="true">
                        <tr v-for="indexV in 10"   v-on:dragover="dragover">
                            <td v-for="indexH in 10" v-bind:id="grid.charAt(indexH -1) + indexV" style="background-color: transparent" v-on:dragover="dragover" >
                                <img v-bind:src="'./img/' + cellContent(grid.charAt(indexH -1) + indexV) + '.png'" v-show="(cellContent(grid.charAt(indexH -1) + indexV) == false)?false:true">
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
            <div class="col-md-2 justify-content-center">
                <br>
                <br>
                <ul>
                    <li v-for="ship in shipsType.type" v-show="loadShip(ship)">
                        <div v-bind:id="ship" v-on:dragstart="()=>{setDragElement(ship)}" v-on:dragend="drop" v-bind:height="shipsType.imageHeight" draggable="true" class="ship-rotation" v-bind:class="{rotateHorizontal: (dragElement.rotation == 0)?true:false, rotateVertical: (dragElement.rotation == 0)?false:true }">
                            <img v-bind:src="'./img/' + ship + '.png'">
                        </div>
                    </li>
                </ul>
                <br>
                <center>
                    <button class="btn" v-on:click="rotate"> {{ btnText }} </button>
                </center>
            </div>
            <div class="col-md-5">
                <center>
                    <h4> My Shoots! </h4>
                    <table style="background: url('./img/BackGround.gif')">
                        <tr v-for="indexV in 10">
                            <td v-for="indexH in 10" v-bind:id="grid.charAt(indexH -1) + indexV" ></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Carga de codigo en Vue.js -->
    <script src="./js/board.js"></script>
</body>
</html>

 <style>
    #salvoApp {
        background-color: #AAAAAA;
        height: 99vh;
    }

    #title {
        background-color: #000000;
    }

    tr {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }

    td {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }
</style>