 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Salvo</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

    <!-- Popper JS -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->

    <!-- Latest compiled JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="salvoApp">
        <div class="navbar bg-dark navbar-dark">
            <div class="justyfy-content-start">
                <button class="btn btn-default" v-on:click="returnHome()"> Return </button>
            </div>
            <div class="justify-content-center">
                    <h4 style="color: white"> {{ viewer.player.user }}! </h4>
            </div>
            <div class="justify-content-end">
                    <button class="btn btn-default" v-on:click="logout()"> Logout </button>
            </div>
        </div>
        <center>
            <h2>Match</h2>
            <p> {{ viewer && viewer.player.user ? viewer.player.user : "" }} vs {{ enemy && enemy.player.user ? enemy.player.user : ""}} </p>
        </center>
        <div class="row" style="background-color: black;">
            <div class="col-md-5">
                <center>
                    <h4> My Ships!</h4>
                    <table style="background: url('./img/BackGround.gif')" draggable="true">
                        <tr v-for="indexV in 10" style="height: 50px; border: 1px solid white; border-radius: 5px; padding: 0; margin: 0;"  v-on:dragover="dragover" v-on:dragenter="dragenter">
                            <td v-for="indexH in 10" style="width: 50px; border: 1px solid white; border-radius: 5px; padding: 0; margin: 0;" v-bind:id="grid.charAt(indexH -1) + indexV" v-bind:style="'background-color: ' + select(grid.charAt(indexH -1) + indexV)" v-on:dragover="dragover(event)" v-on:drop="drop"></td>
                        </tr>
                    </table>
                </center>
            </div>
            <div class="col-md-2 justify-content-center">
                <ul>
                    <li v-for="ship in shipsType.type"> <img v-bind:src="'./img/' + ship + '.png'" v-bind:height="shipsType.imageHeight"></li>
                </ul>
            </div>
            <div class="col-md-5">
                <center>
                    <h4> My Shoots! </h4>
                    <table style="background: url('./img/BackGround.gif')">
                        <tr v-for="indexV in 10" style="height: 50px; border: 1px solid white; border-radius: 5px; padding: 0; margin: 0;">
                            <td v-for="indexH in 10" style="width: 50px; border: 1px solid white; border-radius: 5px; padding: 0; margin: 0;" v-bind:id="grid.charAt(indexH -1) + indexV" v-bind:style="'background-color: ' + myShoots(grid.charAt(indexH -1) + indexV)" ></td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Carga de codigo en Vue.js -->
    <script src="./js/board.js"></script>
</body>
</html>