<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Salvo</title>
</head>
<body>
    <div id="salvoApp">
        <div>
            <div v-show="showLogin">
                <modal>
                    <span>User Name</span>
                    <input @input="checkExistUser($event)" type="text" v-model="form.email">
                    <span>Password</span>
                    <input @input="checkExistPass($event)" type="password" v-model="form.password">
                    <button v-on:click="login()"> Login </button>
                </modal>
            </div>
            <div v-show="showLogout">
                <button v-on:click="logout()"> Logout </button>
            </div>
        </div>
        <center>
            <table>
                <tr>
                    <th>Player</th>
                    <th>Win</th>
                    <th>Ties</th>
                    <th>Lost</th>
                    <th>Total Score</th>
                </tr>
                <tr v-for="player in players">
                    <td> {{ player.player }} </td>
                    <td style="text-align: center;"> {{ player.win }} </td>
                    <td style="text-align: center;"> {{ player.ties }} </td>
                    <td style="text-align: center;"> {{ player.lost }} </td>
                    <td style="text-align: center;"> {{ player.totalScore }} </td>
                </tr>
            </table>
        </center>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Carga de codigo en Vue.js -->
    <script src="./js/games.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>