<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Salvo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="salvoApp" v-bind:style=" { height: currentHeight } ">
        <div class="navbar bg-dark navbar-dark">
            <div class="justify-content-start">
                <div  v-show="!showLogin">
                    <h4 style="color: white"> Welcome back {{ email }}! </h4>
                </div>
            </div>
            <div class="justify-content-end">
                <div v-show="showLogin">
                    <button class="btn btn-default" data-toggle="modal" data-target="#Loggin" v-on:click="showModal = true"> Login </button>
                </div>
                <div v-show="!showLogin">
                    <button class="btn btn-default" v-on:click="logout()"> Logout </button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4">
                <table class="table">
                    <tr>
                        <th>Player</th>
                        <th>Win</th>
                        <th>Ties</th>
                        <th>Lost</th>
                        <th>Score</th>
                    </tr>
                    <tr v-for="player in players">
                        <td> {{ player.player }} </td>
                        <td style="text-align: center;"> {{ player.win }} </td>
                        <td style="text-align: center;"> {{ player.ties }} </td>
                        <td style="text-align: center;"> {{ player.lost }} </td>
                        <td style="text-align: center;"> {{ player.totalScore }} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-show="!showLogin">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn float-right m-4" v-on:click="newGame()">Start new game!</button>
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Player 1</th>
                            <th>Player 2</th>
                            <th>Status</th>
                        </tr>
                        <tr v-for="game in games.games">
                            <td> {{ game.created }} </td>
                            <td> {{ game.gamePlayers[0].player.user }} </td>
                            <td> {{ game.gamePlayers[1] && game.gamePlayers[1].player.user ? game.gamePlayers[1].player.user : "Available!" }} </td>
                            <td> <button v-show="!game.gamePlayers[1] && (game.gamePlayers[0].player.user != email)" class="btn" v-on:click="joinGame(game.id)"> Join now! </button>
                                 <button v-show="game.gamePlayers[0].player.user == email" class="btn" v-on:click="redirect(game.gamePlayers[0].id)"> Enter </button>
                                 <button v-show="game.gamePlayers[1] && (game.gamePlayers[1].player.user == email)" class="btn" v-on:click="redirect(game.gamePlayers[1].id)"> Enter </button>  </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="Loggin" v-if="showModal" v-on:close="showModal = false" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-show="!register"> Login! </h4>
                        <h4 class="modal-title" v-show="register"> Registration </h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input class="form-control" @input="checkExistUser($event)" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" v-model="form.email" required>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input class="form-control" @input="checkExistPass($event)" type="password" v-model="form.password" required>
                        </div>
                        <p v-on:click="setRegistration" v-show="!register"><a href="#"> Not registered?</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" v-on:click="login()" data-dismiss="modal" v-show="!register" >Login</button>
                        <button type="button" class="btn btn-default" v-on:click="registration()" data-dismiss="modal" v-show="register" >Register</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Carga de codigo en Vue.js -->
    <script src="./js/games.js"></script>
</body>
</html>

<style>
    #salvoApp {
        background-color: #AAAAAA;
        height: 99vh;
    }

    #title {
        background-color: #000000;
    }
</style>